{% extends 'base2.html' %}

{% block HEADER %}
	<h2>{% block TITLE %}Todos{% endblock %}</h2>
{% endblock %}

{% block CONTENT %}
<div class="container border shadow w-50 pb-3 my-3">
    <nav class="navbar navbar-expand-xl border-bottom mb-3">
        <div class="container-fluid px-0">
            <a class="navbar-brand" href="{{ url_for('index') }}">To-Do App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{ render_nav_item('todos', 'Todos') }}
                    {{ render_nav_item('lists', 'Lists') }}
                </ul>
            </div>
        </div>
    </nav>
{% for todo in todos %}
<div class="form-check">
    <label class="form-check-label" for="{{ todo.id }}">
        <a href="{{ url_for('todo', id=todo.id) }}">{{todo.description}}</a>
    </label>
    <input class="form-check-input" type="checkbox" id="{{ todo.id }}"  disabled
        {% if todo.complete %} checked {% endif %}
    >
</div>
{% endfor %}
<form action="{{ url_for('todos') }}" method="post"
    class="row row-cols-auto g-2 pt-3">
    {{ form.csrf_token }}
    <div class="col">{{ form.description(class='form-control') }}</div>
    <div class="col">{{ form.submit(class='btn btn-primary') }}</div>
</form>
{% endblock %}